*.pdb
*.pdb.meta
*.xml
*.xml.meta

/StandardAssets
/StandardAssets.meta

/Editor/CodeGeneration/
/Editor/CodeGeneration.meta

/Editor/Extentions/
/Editor/Extentions.meta

/Editor/Images/
/Editor/Images.meta

Entitas.*
xFrame.Chaos.*

DesperateDevs.*